<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: common-header"/>
<body class="authentication-bg">
<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a href="/">
                            <span><img src="images/logo-light" alt="" height="18"></span>
                        </a>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Free Sign Up</h4>
                            <p class="text-muted mb-4">Don't have an account? Create your account, it takes less than a
                                minute </p>
                        </div>

                        <form th:action="@{/signup}" method="post">

                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" th:value="${user.firstName}" id="firstName"
                                       name="firstName" roleId="firstname" placeholder="Enter your first name"
                                       required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" th:value="${user.lastName}" id="lastName"
                                       name="lastName" roleId="lastName" placeholder="Enter your last name"
                                       required="required"/>
                            </div>

                            <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show"
                                 role="alert" th:if="${usernameExists}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Error - </strong> Username already exists
                            </div>

                            <div class="form-group">
                                <label for="email">Username</label>
                                <input type="text" class="form-control" th:value="${user.username}" id="username"
                                       name="username" roleId="username" placeholder="Enter your Username"
                                       required="required"/>
                            </div>

                            <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show"
                                 role="alert" th:if="${emailExists}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Error - </strong> Email already exists
                            </div>

                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="text" class="form-control" th:value="${user.email}" id="email" name="email"
                                       roleId="email" placeholder="Enter your Email" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" th:value="${user.password}" id="password"
                                       name="password" roleId="password" placeholder="Enter your Password"
                                       required="required"/>
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                    <label class="custom-control-label" for="checkbox-signup">I accept <a href="#"
                                                                                                          class="text-muted">Terms
                                        and Conditions</a></label>
                                </div>
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary" type="submit"> Sign Up</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Already have account? <a href="/login"
                                                                       class="text-muted ml-1"><b>Log In</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer footer-alt">
    2019 © PGaur - Wander Notes
</footer>

<!-- App js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
